.nmx-box {
  background: white;
  border: 1px solid #cccccc;
  padding: 18px 15px; }

.nmx-menu-control {
  font: 14px "Open Sans", sans-serif;
  margin: 30px;
  overflow: hidden; }
  .nmx-menu-control h1 {
    color: #1a214d;
    font-size: 30px;
    margin-bottom: 32px;
    font: 600 30px "Open Sans", sans-serif !important;
    padding: 0; }

.nmx-menu {
  float: left;
  position: relative;
  width: 230px; }

.nmx-list-tabs li {
  position: relative; }
.nmx-list-tabs li:first-child {
  margin-left: 0; }
.nmx-list-tabs a {
  background: #1a204c;
  border-bottom: 1px solid #3C4164;
  border-left: 3px solid transparent;
  border-top: none;
  display: block;
  color: #A3A3A3;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  padding: 10px 15px 10px 12px; }
  .nmx-list-tabs a input {
    background: none;
    color: #A3A3A3;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    border: none;
    height: auto;
    padding: 0;
    margin: 0;
    width: 100%; }
    .nmx-list-tabs a input::-webkit-input-placeholder {
      color: #A3A3A3;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-weight: 600;
      text-transform: capitalize;
      opacity: 1; }
    .nmx-list-tabs a input::-moz-placeholder {
      color: #A3A3A3;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-weight: 600;
      text-transform: capitalize;
      opacity: 1; }
    .nmx-list-tabs a input:-moz-placeholder {
      color: #A3A3A3;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-weight: 600;
      text-transform: capitalize;
      opacity: 1; }
    .nmx-list-tabs a input:-ms-input-placeholder {
      color: #A3A3A3;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-weight: 600;
      text-transform: capitalize;
      opacity: 1; }

.nmx-list-tabs .nmx-tab-menu.active {
  top: 0; }
  .nmx-list-tabs .nmx-tab-menu.active a,
  .nmx-list-tabs a:hover {
      border-left: 3px solid #ea4725;
      text-decoration: none;
  }
  .nmx-list-tabs .nmx-tab-menu.active a {
    color: #fff; 
  }
    .nmx-list-tabs .nmx-tab-menu.active a span {
      }
    .nmx-list-tabs .nmx-tab-menu.active a:hover {
      color: white; }
.nmx-list-tabs .nmx-tab-last {
  z-index: 2;
  margin-top: 15px;
  margin-left: 13px; }

.nmx-tab {
  background: #e7e7e7;
  overflow: hidden;
  padding: 24px 30px 0;
  position: relative;
  display: none;
  left: -1px; }
  .nmx-menu + .nmx-tab {
    display: block; }

#nmx-tab-add-menu {
  padding-bottom: 30px; }

.nmx-menu-details {
  position: relative; }
  .nmx-menu-details .nmx-form {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .nmx-menu-details .nmx-form .nmx-row {
      max-width: 928px; }

.nmx-pages {
  overflow: hidden;
  margin-top: 24px;
  position: relative;
  z-index: 1; }
  .nmx-pages li {
    display: inline-block;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-bottom: 30px;
    position: relative;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s; }
    .nmx-pages li:first-child {
      margin-left: 0; }
    @media only screen and (max-width: 1140px) {
      .nmx-pages li {
        display: block;
        width: auto; } }
    @media only screen and (max-width: 1380px) and (min-width: 1140px) {
      .nmx-pages li {
        width: 47.7%;
        margin: 0 0 0 4%; }
        .nmx-pages li:nth-child(2n+1) {
          margin-left: 0; } }
    @media only screen and (max-width: 1780px) and (min-width: 1381px) {
      .nmx-pages li {
        width: 31%;
        margin: 0 0 0 3.064%; }
        .nmx-pages li:nth-child(3n+1) {
          margin-left: 0; } }
    @media only screen and (min-width: 1781px) {
      .nmx-pages li {
        width: 22.8%;
        margin: 0 0 0 2.6%; }
        .nmx-pages li:nth-child(4n+1) {
          margin-left: 0; } }
    .nmx-pages li h3 {
      border-bottom: 1px solid #cccccc;
      font-size: 18px;
      font-weight: 600;
      margin-top: -3px;
      padding-bottom: 11px;
      padding-right: 65px; }
      .nmx-pages li h3 input {
        border: none;
        width: 100%;
        color: #1a214d;
        font-size: 18px;
        font-weight: 600;
        margin: 0;
        padding: 0; }
        .nmx-pages li h3 input::-webkit-input-placeholder {
          color: #1a214d;
          font-size: 18px;
          font-weight: 600;
          opacity: 1; }
        .nmx-pages li h3 input::-moz-placeholder {
          color: #1a214d;
          font-size: 18px;
          font-weight: 600;
          opacity: 1; }
        .nmx-pages li h3 input:-moz-placeholder {
          color: #1a214d;
          font-size: 18px;
          font-weight: 600;
          opacity: 1; }
        .nmx-pages li h3 input:-ms-input-placeholder {
          color: #1a214d;
          font-size: 18px;
          font-weight: 600;
          opacity: 1; }
        .nmx-pages li h3 input:focus::-webkit-input-placeholder {
          opacity: 0.5; }
        .nmx-pages li h3 input:focus::-moz-placeholder {
          opacity: 0.5; }
        .nmx-pages li h3 input:focus:-moz-placeholder {
          opacity: 0.5; }
        .nmx-pages li h3 input:focus:-ms-input-placeholder {
          opacity: 0.5; }
  .nmx-pages.is-blur li {
    opacity: .5; }
    .nmx-pages.is-blur li:before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 5; }
    .nmx-pages.is-blur li.is-active {
      opacity: 1;
      margin-right: 4px; }
      .nmx-pages.is-blur li.is-active .nmx-box {
        border-color: #ea4725; }
    .nmx-pages.is-blur li.is-active:before {
      display: none; }

.nmx-form .nmx-row {
  overflow: hidden;
  margin-top: 15px; }
  @media only screen and (max-width: 1140px) {
    .nmx-form .nmx-row {
      margin-top: 0; } }
  .nmx-form .nmx-row:first-child {
    margin-top: 0; }
  .nmx-form .nmx-row.nmx-form-add-menu {
    max-width: 870px; }
  .nmx-form .nmx-row .nmx-field {
    float: left;
    margin-left: 3.064%;
    margin-top: 0; }
  @media only screen and (max-width: 1140px) {
    .nmx-form .nmx-row .nmx-field {
      margin-top: 15px; }
    .nmx-form .nmx-row .nmx-field:first-child {
      margin-top: 0; } }
  .nmx-form .nmx-row .nmx-field-menu-key {
    width: 31%;
    margin-left: 0; }
  .nmx-form .nmx-row .nmx-field-menu-language {
    width: 31%; }
  .nmx-form .nmx-row .nmx-field-menu-sort,
  .nmx-form .nmx-row .nmx-field-update-menu {
    width: 14.4%;
    float: left; }
  .nmx-form .nmx-row .nmx-field-update-menu {
    margin-left: 3.064%;
    position: relative;
    top: 2px; }
  @media only screen and (max-width: 1140px) {
    .nmx-form .nmx-row .nmx-field-menu-key,
    .nmx-form .nmx-row .nmx-field-menu-language,
    .nmx-form .nmx-row .nmx-field-menu-sort,
    .nmx-form .nmx-row .nmx-field-update-menu {
      float: none;
      margin-left: 0;
      top: 0;
      width: auto; }
    .nmx-form .nmx-row .nmx-field-menu-sort input[type="text"] {
      width: 100px; } }
  @media only screen and (max-width: 1224px) {
    .nmx-form .nmx-row .nmx-field-update-menu {
      clear: both;
      float: none;
      margin-left: 0;
      top: 0;
      width: auto; } }
.nmx-form .nmx-field {
  margin-top: 15px; }
  .nmx-form .nmx-field:first-child {
    margin-top: 0; }
  .nmx-form .nmx-field label {
    display: block;
    line-height: normal;
    font-weight: 600;
    margin-bottom: 5px;
    text-rendering: geometricPrecision;
    text-shadow: 0px 0px 1px rgba(0,0,0,0);
  }
  .nmx-form .nmx-field input[type=text],
  .nmx-form .nmx-field input[type=password],
  .nmx-form .nmx-field select,
  .nmx-form .nmx-field .nmx-faux-input {
    background: #e7e7e7;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: text;
    display: block;
    overflow: hidden;
    overflow-x: auto;
    font: 14px "Open Sans", sans-serif;
    height: 33px;
    margin: 0;
    padding: 6px 8px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .nmx-form .nmx-field input[type=text]:focus,
    .nmx-form .nmx-field input[type=password]:focus,
    .nmx-form .nmx-field select:focus,
    .nmx-form .nmx-field .nmx-faux-input:focus {
      border-color: #ea4725; }
.nmx-form .nmx-field-rc {
  overflow: hidden; }
  .nmx-form .nmx-field-rc label {
    float: left;
    margin-bottom: 0;
    margin-right: 12px; }
  .nmx-form .nmx-field-rc input {
    margin: 0;
    position: relative;
    top: 5px; }
.nmx-form .nmx-field-buttons {
  text-align: left;
  padding-top: 18px; }
  .nmx-form .nmx-field-buttons button,
  .nmx-form .nmx-field-buttons input[type="submit"] {
    background-color: #c5c5c5;
    /* Fallback Color */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(#c5c5c5));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #e6e6e6, #c5c5c5);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(top, #e6e6e6, #c5c5c5);
    /* FF3.6 */
    background-image: -ms-linear-gradient(top, #e6e6e6, #c5c5c5);
    /* IE10 */
    background-image: -o-linear-gradient(top, #e6e6e6, #c5c5c5);
    /* Opera 11.10+ */
    background-image: linear-gradient(top, #e6e6e6, #c5c5c5);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#e6e6e6', EndColorStr='#c5c5c5');
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 5px;
    color: #1a214d;
    font-weight: 600;
    font-size: 14px;
    display: inline-block;
    margin: 0 0 0 10px;
    padding: 9px 12px;
    width: auto !important;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s; }
    .nmx-form .nmx-field-buttons button:hover, .nmx-form .nmx-field-buttons button:focus,
    .nmx-form .nmx-field-buttons input[type="submit"]:hover,
    .nmx-form .nmx-field-buttons input[type="submit"]:focus {
      color: #ea4725; }
    .nmx-form .nmx-field-buttons button:first-child,
    .nmx-form .nmx-field-buttons input[type="submit"]:first-child {
      margin-left: 0; }
    .nmx-form .nmx-field-buttons button.nmx-btn-remove-page, .nmx-form .nmx-field-buttons button.nmx-btn-cancel-page,
    .nmx-form .nmx-field-buttons input[type="submit"].nmx-btn-remove-page,
    .nmx-form .nmx-field-buttons input[type="submit"].nmx-btn-cancel-page {
      background: none;
      border: none;
      padding-left: 0;
      padding-right: 0;
      font-size: 12px; }
    .nmx-form .nmx-field-buttons button.nmx-btn-remove-page,
    .nmx-form .nmx-field-buttons input[type="submit"].nmx-btn-remove-page {
      color: #A0A0A0;
      position: absolute;
      top: 13px;
      right: 21px; }
    .nmx-form .nmx-field-buttons button.nmx-btn-remove-page:hover,
    .nmx-form .nmx-field-buttons input[type="submit"].nmx-btn-remove-page:hover {
      color: #1a214d; }

@media only screen and (max-width: 1140px) {
  #nmx-field-menu-title {
    margin-bottom: 15px; } }
.nmx-menu-control .nmx-btn-link,
.nmx-menu-control .nmx-btn-link:hover {
  background-color: transparent;
  border: none;
  display: block;
  color: #ea4725;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  height: 16px;
  line-height: 16px;
  padding: 0;
  position: relative;
  text-transform: uppercase;
  z-index: 2; }
  .nmx-menu-control .nmx-btn-link.is-clicked,
  .nmx-menu-control .nmx-btn-link:hover.is-clicked {
    opacity: .3;
    cursor: default;
    color: #ea4725; }
    .nmx-menu-control .nmx-btn-link.is-clicked span,
    .nmx-menu-control .nmx-btn-link:hover.is-clicked span {
      background-position: 0 0 !important; }
  .nmx-menu-control .nmx-btn-link span,
  .nmx-menu-control .nmx-btn-link:hover span {
    background-color: #e7e7e7; }

.nmx-menu-control .nmx-btn-link:hover {
  color: #1a214d; }

.nmx-menu-control .nmx-btn-link span {
  background-image: url(images/ico_add.png);
  background-repeat: no-repeat;
  display: inline-block;
  padding-left: 22px;
  position: relative;
  z-index: 2; }

.nmx-btn-add:hover span {
  background-position: 0 -16px; }

#nmx-add-page span,
.nmx-remove-menu span {
  padding-right: 18px; }

#nmx-add-page {
  margin-top: 24px; }

.nmx-remove-menu {
  margin-bottom: 24px; }
  .nmx-remove-menu span {
    background-image: url(images/ico_remove.png); 
    background-repeat: no-repeat;
    padding-left: 25px; }
  .nmx-remove-menu:hover span {
    background-position: 0 -16px; }

#nmx-add-menu span {
  background-color: transparent; }

.nmx-add-page:before,
.nmx-remove-menu:before {
  background: #fff;
  border-top: 1px solid #ccc;
  content: '';
  height: 1px;
  position: absolute;
  top: 7px;
  left: 0;
  width: 100%;
  z-index: 1; }
